@import url('https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap');
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    scroll-behavior: smooth;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Inter", sans-serif;
}
:root {
    --text-color: #2d3134;
    --bg-color: #faf8ed;
    --main-color: #e7786c;
    --other-clor: #5b5f62;

    --h1-font: 5.3rem;
    --h2-font: 3.6rem;
    --p-font: 1rem;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    overflow-x: hidden;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    width: 100%;
    background-color: transparent;
    padding: 30px 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all ease 0.5s;
}

.no-scroll {
    overflow: hidden;
}
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #cceaf7;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#loading img {
    width: 800px;
    height: 600px;
}

#loading p {
    display: absolute;
    font-size: 25px;
    color: #044db3c6;
    font-weight: bold;
    margin-top: 20px;
    letter-spacing: 2px;
    font-family: 'SUSE', sans-serif;
}

.logo img {
    width: 30%;
    height: auto;
}

.navlist {
    display: flex;
}

.navlist a {
    margin: 1rem 1.4rem;
    font-size: var(--p-font);
    color: var(--text-color);
    position: relative;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navlist a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    background-color: var(--main-color);
    bottom: -5px;
    left: 50%;
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
}

.navlist a:hover::after {
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
}

.navlist a:hover {
    color: var(--hover-color);
}

.h-right {
    display: flex;
    align-items: center;
}
.h-btn {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    font-weight: 400;
    border-radius: 32px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: all ease 0.5s;
}
.h-btn:hover {
    transform: translateY(-4px);
}
#menu-icon {
    font-size: 2rem;
    z-index: 1001;
    cursor: pointer;
    margin-left: 1rem;
    display: none;
}
section {
    padding: 72px 15% 60px;
}
.home {
    position: relative;
    height: 95vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1rem;
}
.home-text h1 {
    font-family: "Sen", sans-serif;
    font-size: var(--h1-font);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 1.8rem;
}
.home-text p {
    width: 100%;
    max-width: 400px;
    font-size: var(--p-font);
    font-weight: 400;
    line-height: 2rem;
    color: var(--other-clor);
    margin-bottom: 2.4rem;
}
.button {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.btn {
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--main-color);
    color: #fff;
    border: 2px solid transparent;
    border-radius: 32px;
    transition: all ease 0.5s;
}

.btn:hover {
    border: 2px solid #2d3134;
    background-color: transparent;
    color: #2d3134;
}

.btn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color);
}

.btn2 span i {
    height: 50px;
    width: 50px;
    font-size: 1.8rem;
    background-color: var(--main-color);
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    border: 2px solid transparent;
    border-radius: 50%;
    transition: all ease 0.5s;
}

.h-btn {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    font-weight: 400;
    border-radius: 32px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: all ease 0.5s;
}
.h-btn:hover {
    transform: translateY(-4px);
}
#menu-icon {
    font-size: 2rem;
    z-index: 1001;
    cursor: pointer;
    margin-left: 1rem;
    display: none;

.btn {
    display: inline-block;
    padding: 0.6rem 1.5rem;
    font-weight: 400;
    border-radius: 32px;
    border: 2px solid var(--main-color);
    color: var(--main-color);
    transition: all ease 0.5s;
}

.btn:hover {
    transform: translateY(-4px);
}

.bxx-btn:hover {
    background-color: transparent;
    border: 1px solid #2d3134;
    color: #2d3134;
}
.box:hover {
    transform: scale(1.01) translateY(-5px);
    cursor: pointer;
}
.testimonial {
    display: grid;
    margin-top: 2%;
    grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
    align-items: center;
    justify-items: center;
    gap: 3rem;
}

@media screen and (max-width: 1024px) {
    header {
        padding: 30px 10%;
    }
    .navlist {
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--bg-color);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all ease 0.5s;
    }
    .navlist a {
        margin: 1rem 0;
    }
    .h-right {
        display: block;
    }
    #menu-icon {
        display: block;
    }
}


@media screen and (max-width: 480px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1rem;
    }
    .btn {
        padding: 0.6rem 1.2rem;
    }
}


@media (max-width: 1170px) {
    form {
        display: grid;
        padding: 16px;
        border-radius: 20px;
    }
    .home {
        height: 80vh;
    }
    #menu-icon {
        display: block;
    }
    header.sticky {
        background-color: var(--bg-color);
    }
    .navlist {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 320px;
        right: -100%;
        display: flex;
        flex-direction: column;
        background-color: #faf8ed;
        border-radius: 0px 0px 20px 20px;
        padding: 10px 0;
        box-shadow: 0px 20px 20px rgb(15 54 55 / 20%);
        clip-path: circle(144% at 0% 0%);
        transition: all 0.5s ease-in-out;
    }
    .navlist a {
        display: block;
        padding: 0;
        font-size: 22px;
        font-weight: 600;
    }
    .navlist a::after {
        display: none;
    }
    .navlist.open {
        right: 0;
    }
    :root {
        --h1-font: 4rem;
        --h2-font: 2.6rem;
    }
    .home-img {
        height: 600px;
        width: 500px;
    }

    .cta-plane {
        width: 500px;
        right: -200px;
    }
    .cta-content {
        width: 80rem;
        margin-left: 4rem;
    }
    .cta-content h3 {
        position: absolute;
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-bottom: 35rem;
        margin-left: 150px;
        box-shadow: none;
        white-space: nowrap;
    }
    .cta-content p {
        position: absolute;
        margin-top: -40rem;
        margin-left: 0rem;
        font-size: 1rem;
        white-space: nowrap;
    }
}

@media (max-width: 768px) {
    header {
        padding: 30px 5%;
    }
    .navlist a {
        font-size: 1.5rem;
    }
    .h-btn {
        padding: 0.6rem 1.2rem;
    }
    .cta-plane {
        width: 400px;
        right: -100px;
    }
    .cta-content {
        width: 80rem;
        margin-left: 4rem;
    }
    .cta-content h3 {
        position: absolute;
        font-size: 1.4rem;
        line-height: 2.5rem;
        margin-bottom: 35rem;
        margin-left: 150px;
        box-shadow: none;
        white-space: nowrap;
    }
    .cta-content p {
        position: absolute;
        margin-top: -40rem;
        margin-left: 0rem;
        font-size: 1rem;
        white-space: nowrap;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 1rem;
    }
    .btn {
        padding: 0.6rem 1.2rem;
    }
}

